<footer class="footer mt-auto bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Client</h6>
                <ul>
                    <li>link 1  </li>
                    <li>link 1  </li>
                    <li>link 1  </li>
                    <li>link 1  </li>
                </ul>
            </div>
            <div class="col">
                <h6>Client</h6>
                <ul>
                    <li>link 1  </li>
                    <li>link 1  </li>
                    <li>link 1  </li>
                    <li>link 1  </li>
                </ul>
            </div>
            <div class="col">
                <h6>{{'partner.partner' | trans | capitalize}}</h6>
                <ul>
                    <li>{{'partner.how.it.works' | trans | capitalize}} ?</li>
                    <li>
                        <a href="{{ path('app_register', {'type': 'partner'})  }}"> {{'partner.became.a.partner' | trans | capitalize}}</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login', {'type': 'partner'})  }}"> {{'partner.log.in' | trans | capitalize}}</a>
                    </li>
                    <li>{{'partner.contact.customer.service' | trans | capitalize}}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
