<div class="row"  style="min-height: 85vh">
    <div class="col-md text-center d-flex">
        <div class="m-auto">
            <h1>{{ 'partner.why.title' | trans }}</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse molestiae reiciendis tempore. Corporis est eum impedit, itaque laboriosam minima molestias natus, nihil officia perspiciatis placeat tenetur ut vel velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum harum ipsa minus perspiciatis! A cumque dolor dolores doloribus eius, nemo reprehenderit temporibus vitae voluptate voluptatum. Dolorem laborum optio quidem.
        </div>
    </div>
    <div class="col-md text-center d-flex">
        <div class="m-auto">
            <h1>{{ 'partner.how.it.works' | trans }} ?</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse molestiae reiciendis tempore. Corporis est eum impedit, itaque laboriosam minima molestias natus, nihil officia perspiciatis placeat tenetur ut vel velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum harum ipsa minus perspiciatis! A cumque dolor dolores doloribus eius, nemo reprehenderit temporibus vitae voluptate voluptatum. Dolorem laborum optio quidem.
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <i id="cta-section-2" class="fa fa-5x fa-arrow-down"></i>
    </div>
</div>
<div id="section-2" class="row" style="min-height: 90vh">
    <div class="col-md text-center d-flex" >
        <div class="m-auto">
            <h1>{{ 'partner.why.title' | trans }}</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse molestiae reiciendis tempore. Corporis est eum impedit, itaque laboriosam minima molestias natus, nihil officia perspiciatis placeat tenetur ut vel velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum harum ipsa minus perspiciatis! A cumque dolor dolores doloribus eius, nemo reprehenderit temporibus vitae voluptate voluptatum. Dolorem laborum optio quidem.
        </div>
    </div>
    <div class="col-md text-center d-flex">
        <div class="m-auto">
            <h1>{{ 'partner.how.it.works' | trans }} ?</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse molestiae reiciendis tempore. Corporis est eum impedit, itaque laboriosam minima molestias natus, nihil officia perspiciatis placeat tenetur ut vel velit!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eum harum ipsa minus perspiciatis! A cumque dolor dolores doloribus eius, nemo reprehenderit temporibus vitae voluptate voluptatum. Dolorem laborum optio quidem.
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <i id="cta-section-3" class="fa fa-5x fa-arrow-down"></i>
    </div>
</div>