{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container" style="min-height: 75vh">
        <div class="row mt-5 h-50 d-flex">
            <h1 class="text-center w-100 m-auto">{{ 'partner.back.office.connection' | trans }}</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4 text-center">
                {{ include('security/_login_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}