{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container" style="min-height: 85vh">
        <div class="col-md-6 offset-md-3">

            {% if error  %}
                {% if 'expiredToken' in error and user.isActiveEmployee %}
                    {{ 'app.password.token.employee.not.valid' | trans }}
                {% else %}
                    {{ 'app.password.token.not.valid' | trans }}
                {% endif %}
                <a href="{{ path('app_password_ask_reset') }}">{{ 'app.password.token.ask.again' | trans }}</a>
            {% else %}
                <div class="row text-center">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorem eius eligendi excepturi explicabo natus quos rem sint veritatis! Accusamus accusantium eum saepe. Dicta dignissimos fugiat fugit, iste omnis perferendis?</p>
                </div>
                <div class="row">
                    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="text-right">
                        <input type="submit" value="{{ 'app.update' | trans }}" class="btn btn-primary text-right">
                    </div>
                    {{ form_end(form) }}
                </div>
                {{ form(form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
