{% extends 'base.html.twig' %}

{% block title %}Hello HomController!{% endblock %}

{% block body %}
<div class="row my-2">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-9 p-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% set i= 0 %}
                        {% for slide in slides %}
                        <div class="carousel-item {% if i == 0 %}active{% endif %} ">
                            <img src="{{ vich_uploader_asset(slide, 'imageFile') | imagine_filter('toto') }}" class="d-block w-100" alt="...">
                        </div>
                        {% set i = i+1 %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12 p-0">
                        <img src="https://dummyimage.com/1200x600/kkk/aaa" class="d-block w-100" alt="...">
                        <img src="https://dummyimage.com/1200x600/eee/aaa" class="d-block w-100" alt="...">
                        <img src="https://dummyimage.com/600x300/bbb/aaa" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="mx-2">
            </div>
            <div class="col">
                <h4 class="text-center">title</h4>
            </div>
            <div class="col">
                <hr class="mx-2">
            </div>
        </div>
        <div class="row" id="brand-home-list">
            {% for i in 'a'..'f' %}
                <div class="col-2 p-0">
                    <img src="https://dummyimage.com/600x500/{{i~i~i}}/aaa" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
            {% for i in 'a'..'f' %}
                <div class="col-2 p-0">
                    <img src="https://dummyimage.com/600x500/ggg/{{i~i~i}}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
            {% for i in 'a'..'f' %}
                <div class="col-2 p-0">
                    <img src="https://dummyimage.com/600x500/bbb/{{i~i~i}}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
