{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <figure class="media">
                                <div class="img-wrap"><img src="https://dummyimage.com/600x600/bbb/aaa" class="img-thumbnail img-sm"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Product name goes here </h6>
                                    <dl class="dlist-inline small">
                                        <dt>Size: </dt>
                                        <dd>XXL</dd>
                                    </dl>
                                    <dl class="dlist-inline small">
                                        <dt>Color: </dt>
                                        <dd>Orange color</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">USD 145</var>
                                <small class="text-muted">(USD5 each)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
                            <a href="" class="btn btn-outline-danger"> × Remove</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <figure class="media">
                                <div class="img-wrap"><img src="https://dummyimage.com/600x600/bbb/aaa" class="img-thumbnail img-sm"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Product name goes here </h6>
                                    <dl class="dlist-inline small">
                                        <dt>Size: </dt>
                                        <dd>XXL</dd>
                                    </dl>
                                    <dl class="dlist-inline small">
                                        <dt>Color: </dt>
                                        <dd>Orange color</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">USD 35</var>
                                <small class="text-muted">(USD10 each)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
                            <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <figure class="media">
                                <div class="img-wrap"><img src="https://dummyimage.com/600x600/bbb/aaa" class="img-thumbnail img-sm"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">Product name goes here </h6>
                                    <dl class="dlist-inline small">
                                        <dt>Size: </dt>
                                        <dd>XXL</dd>
                                    </dl>
                                    <dl class="dlist-inline small">
                                        <dt>Color: </dt>
                                        <dd>Orange color</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">USD 45</var>
                                <small class="text-muted">(USD15 each)</small>
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
                            <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <header class="card-header">
                            <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
                            <h4 class="card-title mt-2">Sign up</h4>
                        </header>
                        <article class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>First name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row end.// -->
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" placeholder="">
                                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label>Create password</label>
                                    <input class="form-control" type="password">
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                                </div> <!-- form-group// -->
                                <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>
                            </form>
                        </article> <!-- card-body end .// -->
                    </div> <!-- card.// -->
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <article class="card-body">
                            <a href="" class="float-right btn btn-outline-primary">Sign up</a>
                            <h4 class="card-title mb-4 mt-1">Sign in</h4>
                            <form>
                                <div class="form-group">
                                    <label>Your email</label>
                                    <input name="" class="form-control" placeholder="Email" type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <a class="float-right" href="#">Forgot?</a>
                                    <label>Your password</label>
                                    <input class="form-control" placeholder="******" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label> <input type="checkbox"> Save password </label>
                                    </div> <!-- checkbox .// -->
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                </div> <!-- form-group// -->
                            </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
