{% extends 'base_partner.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="container-fluid px-0">
        <div class="row pt-md-3">
            {% if company.isConfirm != true %}

            <div class="col-md pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header bg-dark text-white">
                        <div class="row">
                            <div class="col-11">
                                {{'partner.account.information' | trans}}
                            </div>
                                <div class="col-1 justify-content-end">
                                    <strong>
                                        <i class="fa fa-2x fa-warning text-danger"></i>
                                    </strong>
                                </div>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 15vh">
                            <p>{{ 'partner.account.under.validation' | trans }}</p>
                            <p>{{ 'partner.account.employee.add.tutorial' }}</p>
                    </div>
                    <div class="card-footer text-right bg-dark">
                        <a href="{{ path('partner_account') }}" class="btn btn-primary">{{ 'partner.account.show' | trans }}</a>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-md pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header bg-dark text-white">
                        <div class="row">
                            <div class="col-11">
                                {{'partner.account.record.first.product' | trans }}
                            </div>
                            <div class="col-1 justify-content-end">
                                <strong>
                                    <i class="fa fa-2x fa-warning text-danger"></i>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestias odit tenetur voluptatibus? Assumenda distinctio et harum id, iste laudantium, libero officia perspiciatis praesentium quibusdam quisquam quo, tempore temporibus ut?</p>
                    </div>
                    <div class="card-footer text-right bg-dark text-white">
                        <button class="btn btn-primary">Go</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-md-3">
            <div class="col-md-8 pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header">
                        Reporting
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info">Show More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header">
                        Logistics
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-md-3">
            <div class="col-md-8 pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header">
                        Referenced products
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info">Show More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pb-md-0">
                <div class="card h-100">
                    <div class="card-header">
                        Messenger
                    </div>
                    <div class="card-body">
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
