{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container" style="min-height: 85vh">
        <div class="row my-5">
            <h1 class="text-center w-100">Register Partner</h1>
        </div>
        <div class="row my-5">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores doloremque exercitationem expedita illum ipsa quisquam quos repellat sequi tempore? Ad aspernatur aut eum facilis molestias non quae sit, vitae.</p>
        </div>
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
            <div class="form-row text-center  my-2">
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.legalRepresentativeCivility, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-user"></i></span>
                            </div>
                            {{ form_widget(form.legalRepresentativeCivility,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.legalRepresentativeFirstname, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-user"></i></span>
                            </div>
                            {{ form_widget(form.legalRepresentativeFirstname,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.legalRepresentativeLastname, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-user"></i></span>
                            </div>
                            {{ form_widget(form.legalRepresentativeLastname,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-center my-2">
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.name, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-center my-2">
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.country, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.country,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.legalZipCode, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.legalZipCode,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.legalTown, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.legalTown,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-center my-2">
                <div class="col-8">
                    <div class="form-group">
                        {{ form_label(form.legalAddress, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.legalAddress,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.phone, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.phone,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row text-center my-2">
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.SIRET, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.SIRET,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.TVAId, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.TVAId,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_label(form.IBAN, null ,{'attr': {'class': 'form-label'}}) }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="fa fa-building"></i></span>
                            </div>
                            {{ form_widget(form.IBAN,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-right my-5">
                <div class="col-3 offset-9">
                    {{ form_row(form.saveAfterRegistration, {'attr': {'class': 'btn btn-primary w-100'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
