{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid mb-5">
        {% if app.request.query.get('type') == 'partner' %}
           {% include 'registration/partner/_why_partner.html.twig' %}
        {% endif %}
        <div class="row mt-5" id="section-form">
            <div class="col-md-4 offset-md-4 text-center d-flex flex-column" {% if app.request.query.get('type') == 'partner' %} style="min-height: 50vh" {% endif %}>
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(registrationForm.agreeTerms, null ,{'label_attr': {'class': 'form-check-label'}}) }}
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
