<div class="card">
    <div class="card-header">
        <h3>Indentification</h3>
    </div>
    <div class="card-body">
        <ul>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Collections</h3>
    </div>
    <div class="card-body">
        <ul>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Commandes</h3>
    </div>
    <div class="card-body">
        <ul>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Facturation</h3>
    </div>
    <div class="card-body">
        <ul>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
            <li>Link 1</li>
        </ul>
    </div>
</div>
