<table class="table table-hover table-dark ">
    <thead>
    <th scope="col" ></th>
    <th scope="col" >
        <div class="row justify-content-between">
            <div class="col">
                <p>Mes informations</p>
            </div>
            <div class="col text-right">
                <div  data-toggle="tooltip" data-placement="right" title="{{'partner.account.edit'}}">
                    <i class="fa fa-edit" ></i>
                </div>
            </div>
        </div>
    </th>

    </thead>
    <tbody>
    <tr>
        <th scope="row">{{'partner.name' | trans }}</th>
        <td class="text-right">{{company.name}}</td>
    </tr>
    <tr>
        <th scope="row">{{'partner.legalAddress' | trans }}</th>
        <td class="text-right">{{company.legalAddress}}</td>
    </tr>
    <tr>
        <th scope="row">{{'partner.legalZipCode' | trans }}</th>
        <td class="text-right">{{company.legalZipCode}}</td>
    </tr>
    <tr>
        <th scope="row">{{'partner.legalTown' | trans }}</th>
        <td class="text-right">{{company.legalTown}}</td>
    </tr>
    <tr>
        <th scope="row">{{'partner.siret' | trans }}</th>
        <td class="text-right">
            {% if company.SIRET %}
                {{company.SIRET}}
            {% else %}
                <span>{{ 'partner.account.information.add' | trans }}</span>
                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="{{'partner.account.edit'}}"></i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{{'partner.vatid' | trans }}</th>
        <td class="text-right">
            {% if company.TVAId %}
                {{company.TVAId}}
            {% else %}

                <div  data-toggle="tooltip" data-placement="right" title="{{'partner.account.edit'}}">
                    <span>{{ 'partner.account.information.add' | trans }}</span>
                    <i class="fa fa-edit"></i>
                </div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{{'partner.iban' | trans }}</th>
        <td class="text-right">
            {% if company.IBAN %}
                {{company.IBAN}}
            {% else %}
                <div  data-toggle="tooltip" data-placement="right" title="{{'partner.account.edit'}}">
                    <span>{{ 'partner.account.information.add' | trans }}</span>
                    <i class="fa fa-edit"></i>
                </div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{{'partner.confirmed' | trans}}</th>
        <td class="text-right">
            {% if company.isConfirm != true %}
                {{ 'partner.account.undervalidation' | trans}}
            {% else %}
                {{ 'partner.account.validated' | trans }}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>