<table class="table table-hover table-dark">
    <thead>
    <th scope="col">N°</th>
    <th scope="col">E-mail</th>
    <th scope="col">Role</th>
    <th scope="col" class="text-center">
        {% if isActive %}
            Action
            <i id="add-employee" class="fa fa-user fa-user-plus mr-auto"></i>
        {% endif %}
    </th>
    </thead>
    <tbody>
    {% set i=0 %}
    {% for employee in employees %}
        {% if employee.isActiveEmployee == isActive %}
            <tr>
                <th>{{ i }}</th>
                <td>{{ employee.email | slice(0,20)}}{% if employee.email | length>20 %}...{% endif %}</td>
                <td>
                    {% for role in employee.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td class="d-flex justify-content-between">
                    {% if "PARTNER_ADMIN"  not in employee.roles %}
                        <i id="edit-user-{{ employee.id }}"
                           class="fa fa-user-edit m-auto"
                           data-uid="{{ employee.id }}"
                        ></i>
                    {% endif %}

                </td>
            </tr>
            {% set i=i+1 %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>

