<div id="add-employee-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-5 py-2">
                {{ 'partner.profile.employee' }} : {{ user.email }}
            </div>
            <div class="modal-body px-5 py-2">
                {{form_start(form)}}
                {{ form_row(form.email) }}
                {{ form_row(form.roles) }}
                {% if user.id != null%}
                    <div class="row m-0">
                        {{ 'partner.profile.employee.createdAt' | trans }} : {{ user.createdAt  | date ("d/m/Y")}}
                    </div>
                    <div class="row m-0">
                        {% if user.isActiveEmployee == false %}
                            {{ 'partner.profile.employee.enabledEmployee' | trans }}
                        {% else %}
                            {{ 'partner.profile.employee.disabledEmployee' | trans }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer px-5">
                <div class="row w-100 m-0 d-flex justify-content-between">
                    <button id="disable-user" class="btn btn-danger" data-uid="{{ user.id }}">
                        {{ 'partner.profile.employee.disable' | trans }}
                    </button>
                    <button class="btn btn-warning" id="close" data-dismiss="modal">
                        {{ 'app.cancel' | trans }}
                    </button>
                    <input id="submit-employee-type" type="submit" class="btn btn-primary" value="{{ 'app.update' | trans }}">
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</div>