{% extends 'base_partner.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-3 d-flex justify-content-around">
            <div class="col-md-6 m-1">
                <div class="row">
                   {% include 'partner/account/_detail.html.twig' with {'company': company}%}
                </div>
            </div>
            <div class="col-md-5 m-1">
                <div class="row">
                {% include 'partner/account/_employees.html.twig' with {'isActive' : true} %}
                </div>
                <div class="row">
                    {% include 'partner/account/_employees.html.twig' with {'isActive' : false} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
