{% extends 'base_partner.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mb-3">

        </div>
    </div>
{% endblock %}