@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
body {
    background-color: lightgray;
}

.fa {
    &.fa-edit:hover {
        cursor: pointer;
    }
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
