{% extends 'base.html.twig' %}

{% block title %}Hello ProductForSaleController!{% endblock %}

{% block body %}
<div class="container-fluid">
    {% for product in productForSale %}
        {{ dump(product) }}
    {% endfor %}
</div>
{% endblock %}
