<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ include('app/_navbar.html.twig') }}
<div class="container-fluid">
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage | trans }}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{{ include('app/_footer.html.twig') }}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
