<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ include('app/_navbar.html.twig') }}
{{ include('app/_navbar_partner.html.twig') }}
<div class="container-fluid mt-1">
    <div id="global-modal" style="display: none"></div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage | trans }}
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{{ include('app/_footer.html.twig') }}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('admin-account') }}
{% block javascripts %}{% endblock %}
</body>
</html>
