{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                {{ include('app/_product_index_jumbotron.html.twig') }}
                <div class="row mt-2">
                    {% for i in 1..100 %}
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <figure class="card card-product">
                                <div>
                                    <img class="card-img" src="https://dummyimage.com/1200x1000/bbb/aaa" >
                                </div>
                                <figcaption class="info-wrap">
                                    <h4 class="title">Another name of item</h4>
                                    <p class="desc">Some small description goes here</p>
                                    <div class="rating-wrap">
                                        <ul class="rating-stars">
                                            <li style="width:80%" class="stars-active">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">132 reviews</div>
                                        <div class="label-rating">154 orders </div>
                                    </div> <!-- rating-wrap.// -->
                                </figcaption>
                                <div class="bottom-wrap">
                                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                                    <div class="price-wrap h5">
                                        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                                    </div> <!-- price-wrap.// -->
                                </div> <!-- bottom-wrap.// -->
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
