{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-10 offset-md-1">
    <div class="card my-3">
        <div class="row no-gutters">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-wrap mx-md-2">
                        <div class="mt-2"> <a href="images/items/1.jpg" data-fancybox=""><img src="https://dummyimage.com/600x600/bbb/aaa"></a></div>
                    </div> <!-- slider-product.// -->
                    <div class="img-small-wrap">
                        <div class="item-gallery"> <img src="https://dummyimage.com/600x600/bbb/aaa"></div>
                        <div class="item-gallery"> <img src="https://dummyimage.com/600x600/bbb/aaa"></div>
                        <div class="item-gallery"> <img src="https://dummyimage.com/600x600/bbb/aaa"></div>
                        <div class="item-gallery"> <img src="https://dummyimage.com/600x600/bbb/aaa"></div>
                    </div> <!-- slider-nav.// -->
                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="p-5">
                    <h3 class="title mb-3">Original Version of Some product name</h3>

                    <div class="mb-3">
                        <var class="price h3 text-warning">
                            <span class="currency">US $</span><span class="num">1299</span>
                        </var>
                        <span>/per kg</span>
                    </div> <!-- price-detail-wrap .// -->
                    <dl>
                        <dt>Description</dt>
                        <dd><p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco </p></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Model#</dt>
                        <dd class="col-sm-9">12345611</dd>

                        <dt class="col-sm-3">Color</dt>
                        <dd class="col-sm-9">Black and white </dd>

                        <dt class="col-sm-3">Delivery</dt>
                        <dd class="col-sm-9">Russia, USA, and Europe </dd>
                    </dl>
                    <div class="rating-wrap">

                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="dlist-inline">
                                <dt>Quantity: </dt>
                                <dd>
                                    <select class="form-control form-control-sm" style="width:70px;">
                                        <option> 1 </option>
                                        <option> 2 </option>
                                        <option> 3 </option>
                                    </select>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                        <div class="col-sm-7">
                            <dl class="dlist-inline">
                                <dt>Size: </dt>
                                <dd>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">SM</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">MD</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">XXL</span>
                                    </label>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr>
                    <a href="#" class="btn  btn-primary"> Buy now </a>
                    <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <div class="row">
        <div class="col-md-3">
            <figure class="card card-sm card-product">
                <span class="badge-new"> NEW </span>
                <div class="img-wrap"> <img src="https://dummyimage.com/600x600/bbb/aaa"> </div>
                <figcaption class="info-wrap text-center">
                    <h6 class="title text-truncate"><a href="#">Good item name</a></h6>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-sm card-product">
                <span class="badge-offer"><b> - 50%</b></span>
                <div class="img-wrap"> <img src="https://dummyimage.com/600x600/bbb/aaa"> </div>
                <figcaption class="info-wrap text-center">
                    <h6 class="title text-truncate"><a href="#">The name of product</a></h6>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-sm card-product">
                <div class="img-wrap"> <img src="https://dummyimage.com/600x600/bbb/aaa">	</div>
                <figcaption class="info-wrap text-center">
                    <h6 class="title text-truncate"><a href="#">Name of product</a></h6>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        <div class="col-md-3">
            <figure class="card card-sm card-product">
                <div class="img-wrap"> <img src="https://dummyimage.com/600x600/bbb/aaa">	</div>
                <figcaption class="info-wrap text-center">
                    <h6 class="title text-truncate"><a href="#">The name of this product goes here</a></h6>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
    </div> <!-- row.// -->
    <div class="row mb-2">
        <div class="col-md-3 mb15">
            <article class="box h-100">
                <figure class="itembox text-center">
                    <span class="mt-2 icon-wrap rounded icon-sm bg-success"><i class="fa fa-user white"></i></span>
                    <figcaption class="text-wrap">
                        <h5 class="title">Creative Strategy &amp; solution</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </article> <!-- panel-lg.// -->
        </div><!-- col // -->
        <div class="col-md-3 mb15">
            <article class="box h-100">
                <figure class="itembox text-center">
                    <span class="mt-2 icon-wrap rounded icon-sm bg-warning"><i class="fa fa-cogs white"></i>	</span>
                    <figcaption class="text-wrap">
                        <h5 class="title">Some good title</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </article> <!-- panel-lg.// -->
        </div> <!-- col // -->
        <div class="col-md-3 mb15">
            <article class="box h-100">
                <figure class="itembox text-center">
                    <span class="mt-2 icon-wrap rounded icon-sm bg-primary"><i class="fa fa-clock white"></i>	</span>
                    <figcaption class="text-wrap">
                        <h5 class="title">Track your time</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </article> <!-- panel-lg.// -->
        </div> <!-- col // -->
        <div class="col-md-3 mb15">
            <article class="box h-100">
                <figure class="itembox text-center">
                    <span class="mt-2 icon-wrap rounded icon-sm bg-secondary"><i class="fa fa-building white"></i>	</span>
                    <figcaption class="text-wrap">
                        <h5 class="title">Building Business Innovation</h5>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </article> <!-- panel-lg.// -->
        </div> <!-- col // -->
    </div>
    </div>
{% endblock %}